/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('https://images.unsplash.com/photo-1494177310973-4841f7d5a882?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
    background-attachment: fixed;
}

.fondo{
    color: white;
    background-color: rgb(32, 31, 31);
    border-radius: 10px;
}